.test {
    height: 90vh;
    width: 80vw;
    /* background-color: red; */
    backdrop-filter: blur(4px);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    border-radius: 12px;

    .addUser {
        height: max-content;
        width: max-content;
        padding: 20px;
        background-color: rgba(139, 139, 139, 0.388);
        border-radius: 10px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        form {
            display: flex;
            gap: 20px;

            input {
                padding: 10px;
                border-radius: 10px;
                border: none;
                outline: none;
                background-color: rgba(26, 29, 36, 0.5);
            }

            button {
                padding: 10px 20px;
                cursor: pointer;
                color: white;
                border: none;
                background-color: #0271A9;
                border-radius: 8px;
                font-weight: 500;
                transition: all 0.3s ease-in-out;

                &:active {
                    transform: scale(0.9);
                }
            }
        }

        .user {
            margin-top: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #dddddd35;
            padding: 10px;

            .detail {
                display: flex;
                align-items: center;
                gap: 20px;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            button {
                padding: 8px 16px;
                cursor: pointer;
                color: white;
                border: none;
                background-color: #0271A9;
                border-radius: 8px;
                font-weight: 500;
                transition: all 0.3s ease-in-out;

                &:active {
                    transform: scale(0.9);
                }
            }
        }
    }
}