@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 7px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 100vh;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}

body {
  background-image: url(./bg.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  overflow: hidden;
}

.main {
  width: 80vw;
  height: 90vh;
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  backdrop-filter: blur(1px) saturate(150%);
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
}